.dashboard-page[b-dp0suzng8v] {
    display: flex;
    flex-direction: column;
    gap: 28px;
    animation: fadeIn-b-dp0suzng8v .5s ease;
}

/* Dashboard Grid */

.dashboard-grid[b-dp0suzng8v] {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 24px;
}

.grid-item[b-dp0suzng8v] {
    width: 100%;
}

.span-12[b-dp0suzng8v] {
    grid-column: span 12;
}

.span-6[b-dp0suzng8v] {
    grid-column: span 6;
}

.span-4[b-dp0suzng8v] {
    grid-column: span 4;
}

.span-3[b-dp0suzng8v] {
    grid-column: span 3;
}

/* Loading */

.dashboard-loading[b-dp0suzng8v] {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animation */

@keyframes fadeIn-b-dp0suzng8v {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Tablet */

@media(max-width:992px) {

    .span-6[b-dp0suzng8v],
    .span-4[b-dp0suzng8v],
    .span-3[b-dp0suzng8v] {
        grid-column: span 12;
    }
}

/* Mobile */

@media(max-width:576px) {

    .dashboard-page[b-dp0suzng8v] {
        gap: 18px;
    }

    .dashboard-grid[b-dp0suzng8v] {
        gap: 18px;
    }
}
