.auth-wrapper[b-cpcvpcad51] {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef2f7;
    padding: 30px;
}

.auth-container[b-cpcvpcad51] {
    width: 950px;
    max-width: 100%;
    background: white;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 25px 60px rgba(0,0,0,.18);
    display: flex;
}

.auth-left[b-cpcvpcad51] {
    width: 45%;
    background: linear-gradient(135deg,#0d6efd,#0a58ca);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.logo-circle[b-cpcvpcad51] {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba(255,255,255,.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 25px;
}

    .logo-circle i[b-cpcvpcad51] {
        font-size: 42px;
    }

.auth-left h1[b-cpcvpcad51] {
    font-size: 34px;
    font-weight: 700;
}

.auth-left p[b-cpcvpcad51] {
    margin-top: 20px;
    font-size: 17px;
    opacity: .9;
}

.auth-right[b-cpcvpcad51] {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
}

.auth-form[b-cpcvpcad51] {
    width: 100%;
    max-width: 380px;
}

    .auth-form h2[b-cpcvpcad51] {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 10px;
    }

.subtitle[b-cpcvpcad51] {
    color: #6c757d;
    margin-bottom: 35px;
}

.form-control[b-cpcvpcad51] {
    height: 48px;
    border-radius: 10px;
}

.input-group-text[b-cpcvpcad51] {
    border-radius: 0 10px 10px 0;
}

.btn[b-cpcvpcad51] {
    height: 50px;
    border-radius: 10px;
    font-weight: 600;
}

    .btn:hover[b-cpcvpcad51] {
        transform: translateY(-2px);
        transition: .25s;
    }

a[b-cpcvpcad51] {
    text-decoration: none;
}

    a:hover[b-cpcvpcad51] {
        text-decoration: underline;
    }

@media(max-width:768px) {

    .auth-container[b-cpcvpcad51] {
        flex-direction: column;
    }

    .auth-left[b-cpcvpcad51] {
        width: 100%;
        padding: 35px;
    }

    .auth-right[b-cpcvpcad51] {
        width: 100%;
        padding: 35px;
    }
}
