/* CSS for Pagination component */
.pagination .page-link[b-dg8gwsqjkf] {
    color: #0d6efd;
    border-radius: 8px;
    margin: 0 2px;
    transition: .25s;
}

.pagination .page-item.active .page-link[b-dg8gwsqjkf] {
    background: #0d6efd;
    border-color: #0d6efd;
    color: white;
    box-shadow: 0 4px 12px rgba(13,110,253,.25);
}

.pagination .page-link:hover[b-dg8gwsqjkf] {
    background: #eef5ff;
}

.input-group-text[b-dg8gwsqjkf] {
    background: #f8f9fa;
}

.form-select[b-dg8gwsqjkf] {
    cursor: pointer;
}